@import '~@ui/base.scss';
.menu-wrapper {
  height: 100%;
  width: 100%;
}

.menu-main {
  height: calc(100% - #{rem(50)});
  width: calc(100% - #{rem(150 * 2)});
  display: flex;
  margin: 0 auto;
}

.menu-subMenu {
  width: rem(150);
  flex: 0 0 rem(150);
  height: 100%;
}

.menu-pizzaItems {
  flex: 1 1 auto;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex-wrap: wrap;
  display: flex;
}

.menu-pizzaItem {
  width: rem(350);
  height: rem(100);
  overflow: hidden;
  position: relative;
  border: rem(1) solid $gray_3;
  margin: 0 rem(30) rem(30) 0;
  border-radius: rem(3);
  position: relative;
}

.menu-pizzaItemTag {
  width: 100%;
}

.menu-pizzaItemTag {

}

.menu-pizzaItemImage {
  position: absolute;
  height: rem(100);
  width: rem(100);
  background: $gray_3;
  .menu-pizzaItemPisa {
    font-size: rem(100);
    color: $white_1;
  }
}
