@import '~@ui/base.scss';

.loading-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.loading-animation {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.loading-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
