.chargeback-page {
  width: 100%;
  height: 100%;

  .chargeback-title {
    border-bottom: 1px solid #a5b6c8;
    color: #373C38;
  }
}

.chargeback-operation {
  text-align: center;
}

.chargeback-filter {
  width: 100%;
}
