@import '~@ui/base.scss';
$offset: 187;
$duration: 1.4s;

.ui-spinner {
  animation: larkSpinnerRotator $duration linear infinite;
}

.ui-spinner-path {
  stroke: $gray_2;
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: larkSpinnerDash $duration ease-in-out infinite;
}

@keyframes larkSpinnerRotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes larkSpinnerDash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset / 4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}