@import '~@ui/base.scss';
.login {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: none;
}

.login-list {
  position: absolute;
  width: 100%;
  top: 100px;
  height: calc(100% - 100px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  div {
    line-height: 50px;
  }
}