@import '~@ui/base.scss';
.loginPW-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $white_3;
}

.loginPW-middle {
  color: $white_2;
  font-size: vw(16);
}

.loginPW-beforeInput {
  height: vw(20);
  width: 100%;
}

.loginPW-content {
  width: 100%;
  position: relative;
  top: $banner_height;
}

.loginPW-afterInput {
  font-size: vw(12);
  line-height: vw(40);
  margin: 0 $padding_width 0 0;
  color: $blue_3;
  text-align: right;
  -webkit-tap-highlight-color: transparent;
}

.loginPW-button {
  margin: vw(10) auto 0;
  height: vw(40);
  line-height: vw(40);
  color: $white_1;
  background: $green_4;
  border-radius: vw(3);
  text-align: center;
  width: calc(100% - 2 * #{$padding_width});
}