<div class="pt-lg-2 pl-lg-3 pr-lg-3 mb-lg-3 order-list-page">
  <div class="order-list-title">
    <h5>订单列表</h5>
  </div>
  <div class="mt-lg-2 pr-lg-2">
    <p-table #dt [value]="orders" [paginator]="true" [rows]="10"
             [globalFilterFields]="['orderId', 'receiveName', 'receivePhone', 'receiveAddress', 'totalAmount', 'commitTime', 'state', 'operation']">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="搜索..."
                 (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" filterStyle="display:none">
        <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon *ngIf="col.field != 'operation'" [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
          <th> 查看详情</th>
        </tr>
        <tr>
          <th *ngFor="let col of cols" [ngSwitch]="col.field">
            <input *ngSwitchCase="'orderId'" pInputText type="text" class="order-filter"
                   (input)="dt.filter($event.target.value, col.field, 'contains')">
            <input *ngSwitchCase="'receiveName'" pInputText type="text" class="order-filter"
                   (input)="dt.filter($event.target.value, col.field, 'contains')">
            <input *ngSwitchCase="'receivePhone'" pInputText type="text" class="order-filter"
                   (input)="dt.filter($event.target.value, col.field, 'contains')">
            <input *ngSwitchCase="'receiveAddress'" pInputText type="text" class="order-filter"
                   (input)="dt.filter($event.target.value, col.field, 'contains')">
            <p-dropdown *ngSwitchCase="'state'" [options]="states" [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-orders>
        <tr>
          <td *ngFor="let col of cols">
            {{orders[col.field]}}
          </td>
          <td>
            <p-button icon="pi pi-search" (click)="selectOrderWithButton(orders)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog header="订单详情" [(visible)]="displayDetail" [modal]="true" [responsive]="true"
          [style]="{width: '600px', minWidth: '200px'}" [minY]="100"
          [maximizable]="true">
  <div class="mt-lg-2 ml-lg-2 mr-lg-2">
    <span *ngFor="let key of getKeys(selectedOrderDetail)">
      <span *ngIf="key != 'menu'">
        <b>{{translateService.orderDetails[key]}}: </b>{{selectedOrderDetail[key]}}<br>
      </span>
      <span *ngIf="key == 'menu'">
        <br>
        <span *ngFor="let menu of selectedOrderDetail[key]">
          <span *ngFor="let menuKey of getKeys(menu)">
            <b>{{translateService.orderDetails[menuKey]}}: </b>{{menu[menuKey]}} &nbsp;
          </span>
          <br>
        </span>
        <br>
      </span>
    </span>
  </div>
</p-dialog>
