.order-list-page {
  width: 100%;
  height: 100%;

  .order-list-title {
    border-bottom: 1px solid #a5b6c8;
    color: #373C38;
  }
}

.order-list-table {
  width: 100%;
  height: 1000px;
}

.order-detail-dialog {
  width: 600px;
  height: 800px
}

.span {
  word-wrap: break-word;
  word-break: keep-all;
  overflow: hidden;
}

.order-filter {
  width: 100%;
}


