.login-page {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../../assets/images/login_bg.jpg");
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
  background-size:100% 100%;
  background-attachment: fixed;
  .login-card {
    margin: 180px auto;
    width: 800px;
    display: block;
    opacity:0.95;
  }
}

.login-btn {
  margin-right: .25em;
  width: 100px;
}

.login-group {
  width: 100%;
  margin: 0;
}
