<div class="login-page">
  <p-card class="login-card" styleClass="ui-card-shadow">
    <h4 class="text-center mt-lg-2 mb-lg-2">后台系统登录</h4>
    <div class="row login-group">
      <div class="col-lg-8 offset-lg-2">
        <form [formGroup]="formGroup" (validSubmit)="onSubmit()">
          <div class="form-group" [customErrorMessages]="customErrorMessages">
            <label class="control-label font-weight-bold">用户名</label>
            <input type="text" class="form-control" formControlName="UserName" [(ngModel)]="userName">
          </div>
          <div class="form-group"  [customErrorMessages]="customErrorMessages">
            <label class="control-label font-weight-bold">密码</label>
            <input type="password" class="form-control" formControlName="Password" [(ngModel)]="password">
          </div>
          <div class="mt-lg-4 mb-lg-3">
            <button pButton type="button" label="重置" class="ui-button-secondary login-btn" (click)="onReset()"></button>
            <button pButton type="button" label="登录" class="ui-button-Primary float-lg-right login-btn" [disabled]="buttonDisabled" type="submit"></button>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
