@import '~@ui/base.scss';
.menu-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: $white_3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-subMenu {
  height: 100%;
  width: vw(70);
  background: $white_1;
}

.menu-pizzaItems {
  height: 100%;
  width: calc(100% - #{vw(70)});
  background: $white_1;
  overflow: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.menu-pizzaItem {
  &:nth-child(1) {
    .menu-pizzaItemTag {
      margin: vw(10) vw(10);
    }
  }
}

.menu-pizzaItemTag {
  font-size: vw(14);
  color: $gray_5;
  line-height: vw(20);
  margin: 0 vw(10);
}

.menu-pizzaItemContent {
  width: 100%;
  overflow: hidden;
  height: vw(120);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-pizzaItemImage {
  height: vw(100);
  width: vw(100);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 vw(10);
  background: $gray_1;
  border-radius: vw(3);
}

.menu-pizzaItemPisa {
  font-size: vw(50);
  color: $white_1;
}

.menu-pizzaItemFont {
  height: vw(100);
  width: calc(100% - #{vw(130)});
  margin: 0 vw(10) 0 0;
  overflow: hidden;
  position: relative;
}

.menu-pizzaItemTitle {
  color: $gray_5;
  font-size: vw(16);
  line-height: vw(20);
  max-height: vw(40);
  overflow: hidden;
  word-break: break-all;
}

.menu-pizzaItemDesc {
  font-size: vw(12);
  margin: vw(5) 0 0;
  color: $gray_3;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  width: 100%;
  word-wrap: nowrap;
  white-space: nowrap;
}

.menu-pizzaItemPrice {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $red_3;
  font-size: vw(18);
}

.menu-pizzaItemPrice_small {
  font-size: 70%;
  padding: 0 vw(1) 0 0;
}

.menu-pizzaItemCount {
  position: absolute;
  bottom: 0;
  right: 0;
  height: vw(20);
  width: vw(65);
  color: $blue_3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-pizzaItemCountFont {
  color: $gray_5;
  display: inline-block;
  text-align: center;
  width: vw(40);
}

.menu-tags {
  width: 100%;
  height: 100%;
  ;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.menu-tag {
  width: 100%;
  background: $white_3;
  word-break: break-all;
  padding: vw(10);
  box-sizing: border-box;
  transition: all $animation_timer;
}

.menu-tag_active {
  background: $white_1;
}