@import '~@ui/base.scss';

.login-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.login-middle {
  color: $white_2;
  font-size: vw(16);
}

.login-right {
  color: $white_2;
  font-size: vw(14);
}
