.material-page {
  width: 100%;
  height: 100%;

  .material-title {
    border-bottom: 1px solid #a5b6c8;
    color: #373C38;
  }
}

.material-operation {
  text-align: center;
}

.material-filter {
  width: 100%;
}

.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
}
