.delivery-page {
  width: 100%;
  height: 100%;

  .delivery-title {
    border-bottom: 1px solid #a5b6c8;
    color: #373C38;
  }
}

.deli-operation {
  text-align: center;
}

.del-filter {
  width: 100%;
}
