@import '~@ui/base.scss';
.pay-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.pay-main {
  height: 100%;
  width: calc(100% - #{rem(250 * 2)});
  display: flex;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.pay-back {
  color: $gray_4;
  cursor: pointer;
  margin: 0 0 rem(20) 0;
}

.pay-info {
  position: relative;
  flex: 1;
  width: 100%;
  margin: 0 0 rem(50);
}

.pay-item {
  position: absolute;
  border: rem(1) solid $gray_3;
  width: 45%;
  box-sizing: border-box;
  padding: rem(20);
}

.pay-itemHeader {
  border-bottom: rem(1) solid $gray_3;
  padding: 0 0 rem(10) 0;
  margin: 0 0 rem(10) 0;
}

.pay-list {
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  .pay-itemBody {
    flex: 1;
    width: 100%;
    overflow: auto;
  }
  .pay-itemFooter {
    border-top: rem(1) solid $gray_3;
    padding: rem(10) 0 0;
    margin: rem(10) 0 0;
    text-align: right;
  }
}

.pay-pizzaItem {
  display: flex;
  height: rem(50);
  width: 100%;
  margin: rem(10) 0;
  align-items: center;
  .pay-pizzaItemImage {
    height: rem(50);
    width: rem(50);
    background: $gray_3;
    color: $white_1;
    border-radius: rem(3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 rem(10) 0 0;
    flex: 0 0 rem(50);
    .icon-pisa {
      font-size: rem(20);
    }
  }
  .pay-pizzaItemName {
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .pay-pizzaItemInfo {
    width: rem(30);
    margin: 0 rem(10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(70);
    flex: 0 0 rem(70);
  }
  .pay-pizzaItemNum {
    font-size: rem(12);
    color: $gray_4;
    margin: 0 rem(10);
  }
}

.pay-kinds {
  bottom: 0;
  right: 0;
  height: 48%;
  display: flex;
  flex-direction: column;
  .pay-itemBody {
    flex: 1;
    width: 100%;
    overflow: auto;
  }
  .pay-itemFooter {
    border-top: rem(1) solid $gray_3;
    padding: rem(10) 0 0;
    margin: rem(10) 0 0;
  }
  .pay-button {
    width: 100%;
    height: rem(40);
    background: $green_4;
    display: flex;
    border-radius: rem(3);
    color: $white_1;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .pay-kindItem {
    box-sizing: border-box;
    padding: 0 rem(10);
    background: $white_1;
    height: rem(50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(16);
  }
  .pay-kindSuccess {
    color: $green_4;
  }
}

.pay-address {
  top: 0;
  right: 0;
  height: 48%;
  display: flex;
  flex-direction: column;
  background: $white_1;
  .pay-itemBody {
    flex: 1;
    width: 100%;
    overflow: hidden;
  }
  .pay-itemFooter {
    border-top: rem(1) solid $gray_3;
    padding: rem(10) 0 0;
    margin: rem(10) 0 0;
  }
  .pay-button {
    width: 100%;
    height: rem(40);
    display: flex;
    border-radius: rem(3);
    color: $blue_3;
    justify-content: flex-start;
    align-items: center;
    span {
      cursor: pointer;
    }
  }
  .pay-kindItem {
    box-sizing: border-box;
    padding: 0 rem(10);
    background: $white_1;
    height: rem(50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(16);
  }
  .pay-kindSuccess {
    color: $green_4;
  }
}

.pay-addressInfo {
  font-size: rem(16);
  color: $gray_5;
  margin: rem(5) 0 0;
}

.pay-addressDetail {
  font-size: rem(22);
  color: $black_1;
  font-weight: 600;
  margin: rem(10) 0 0;
}

.pay-addressUser {
  margin: rem(10) 0 0;
  font-size: rem(14);
  color: $gray_4;
  span {
    margin: 0 rem(10) 0 0;
  }
}

.pay-addressShown {
  height: rem(100);
  overflow: hidden;
}

.pay-addressList {
  height: rem(200);
  width: 100%;
  overflow: auto;
}

.pay-addressListItem {
  padding: rem(5);
  height: rem(60);
  box-sizing: border-box;
  background: $white_1;
  transition: all .2s;

  &:hover {
    background: $gray_1;
    cursor: pointer;
  }
  .pay-addressListInfo {
    font-size: rem(16);
    color: $gray_5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pay-addressListUser {
    margin: rem(5) 0 0;
    font-size: rem(14);
    color: $gray_4;
    span {
      margin: 0 rem(10) 0 0;
    }
  }
}

.pay-addressListItem_active {
  background: $gray_1;
  cursor: pointer;
}